.announcements-display {
    max-width: 450px;
    border: 1px solid #ddd;
    margin: 5px 5px 5px 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 1em;
    height: 120px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.civ {
    font-weight: bold;
}

.wonder {
    font-weight: bold;
    color: purple;
}

.city {
    font-weight: bold;
}

.current-turn {
    font-weight: bold;
}