.building-title-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e0b096;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
    font-weight: bold; /* Make the text bold */
    flex-grow: 1; /* Allow the element to grow and fill the available space, respecting any previous children */
}

.brief-building-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
    flex-grow: 1; /* Allow the element to grow and fill the available space, respecting any previous children */
}

.brief-building-card.disabled {
    opacity: 0.7;
    text-decoration: line-through;
}

.brief-building-card.clickable {
    cursor: pointer;
}

.brief-building-card.clickable:hover {
    border: 2px solid black; /* Thicker black border on hover */
}


.building-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e0b096;
    cursor: pointer;
    z-index: 1000; /* Ensure it's above other elements */
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    max-width: 30vw; /* Adjust as needed */
}

.building-card h2 {
    margin-top: 0;
}

.building-card .unlocked-units {
    margin-top: 10px;
}

.brief-building-card.wonder, .building-card.wonder {
    background-color: #b66dc0;
}
.brief-building-card.military, .building-card.military, .existing-building-card.military, .develop-btn.unit {
    background-color: #bbbbbb;
}
.brief-building-card.rural, .building-card.rural, .existing-building-card.rural, .existing-building-card.expand {
    background-color: #eecab7;
}
.brief-building-card.urban, .building-card.urban, .existing-building-card.urban, .develop-btn.urban {
    background-color: #e08b5e;
}

.existing-building-card.expand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 5px;
    width: 100px;
    height: 60px;
}
.existing-building-card.expand.disabled {
    opacity: .5;
}

.existing-building-card.expand .price-label {
    padding: 5px;
    font-size: 16px;
    align-self: center;
}

.existing-building-card.expand.enabled:hover {
    cursor: pointer;
    background: #eecab7;
    transform: scale(1.2);
}

.develop-btns {
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.develop-btn {
    height: 40%;
    width: 60%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 0 5px;
}
.develop-btn.enabled:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.develop-btn.disabled {
    opacity: 0.5;
}
.develop-btn.hidden {
    opacity: 0;
}
.develop-btn.unit {
    align-self: flex-start;
    align-items: flex-start;
}
.develop-btn.urban {
    align-self: flex-end;
    align-items: flex-end;
}

.brief-building-card.faded {
    opacity: 0.5;
}

.existing-building-card {
    width: 140px;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 1.2em;
    position: relative;
}

.existing-building-card.delete-queued::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, transparent calc(50% - 2px), black, transparent calc(50% + 2px));
    pointer-events: none; /* Prevents the line from interfering with click events */
}

.existing-building-card .building-name {
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
}

.yields-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}

.single-yield-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.single-yield-display img {
    height: 0.8em;
    width: auto;
}