.building-title-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e0b096;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
    font-weight: bold; /* Make the text bold */
}

.brief-building-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
}

.brief-building-card.disabled {
    opacity: 0.7;
    text-decoration: line-through;
}

.brief-building-card.clickable {
    cursor: pointer;
}

.brief-building-card.clickable:hover {
    border: 2px solid black; /* Thicker black border on hover */
}


.building-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e0b096;
    cursor: pointer;
    /* position: fixed;
    right: 32vw; 
    top: 10px;  */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    max-width: 30vw; /* Adjust as needed */
    /* Add other styles as needed */    
}

.building-card.wonder-disabled {
    opacity: 0.5;
}

.building-card.wonder-disabled .wonder-disabled-msg {
    /* Make the text centered and bold*/
    text-align: center;
    font-weight: bold;
}

.building-card h2 {
    margin-top: 0;
}

.building-card .unlocked-units {
    margin-top: 10px;
}

.brief-building-card.wonder {
    background-color: #b66dc0;
}
.brief-building-card.national-wonder {
    background-color: #eeaaee;
}
.brief-building-card.military {
    background-color: #bbbbbb;
}
.brief-building-card.economic {
    background-color: #e0b096;
}