.building-title-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e0b096;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
    font-weight: bold; /* Make the text bold */
}

.brief-building-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e0b096;
    cursor: pointer;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
}

.brief-building-card:hover {
    border: 2px solid black; /* Thicker black border on hover */
}


.building-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #e0b096;
    cursor: pointer;
    position: fixed;
    right: 32vw; /* Adjust the right margin as needed */
    top: 10px; /* Adjust the top margin as needed */
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    max-height: 90vh; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    max-width: 30vw; /* Adjust as needed */
    /* Add other styles as needed */    
}

.building-card h2 {
    margin-top: 0;
}

.building-card .unlocked-units {
    margin-top: 10px;
}

.building-card:hover {
    border: 3px solid black; /* Thick black border on hover */
}

.brief-building-card .building-name {
    margin-right: 15px; /* Adjust as needed */
}