.city-detail-window {
    border: 1px solid black;
    background-color: #ffffff80;
    padding: 5px;
    z-index: 1000;

    position: fixed;
    top: 10px;
    left: 10px;
    max-width: 30%;
    max-height: 70%;
}

.city-detail-panel {
    margin: 5px 5px 30px 5px;
    border-radius: 5px;
}

.panel-icon img {
  width: 60px;
}

.panel-header{
    display:flex;
    height: 60px;
    align-items: center;
}

.panel-header .amount-total {
  font-size: 32px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-banner{
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8px;
}

.icon-bg-text {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    position:relative;
}

.panel-banner.icon-bg-text {
    height: 100%;
}

.panel-banner.icon-bg-text img {
    width: 20px;
}

.panel-content{
    border: 8px solid;
    padding: 5px;
}

.wood-area .panel-content {
    border-color: #e46c2b;
}

.wood-area .panel-banner {
    background-color: #e46c2b;
}

.metal-area .panel-content{
  border-color: #888888;
}

.metal-area .panel-banner {
    background-color: #888888;
}

.food-area .panel-content{
  border-color: #65ac37;
}

.food-area .panel-banner {
    background-color: #65ac37;
}

.science-area .panel-content{
  border-color: #5ca7b1;
}

.science-area .panel-banner {
    background-color: #5ca7b1;
}

.food-progress-bar {
  width: 100%;
  background-color: #e5e5e5;
  height: 20px;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.food-progress-bar .bar {
  height: 100%;
}

.food-progress-bar .bar.stored {
  border-radius: 5px 0 0 5px;
  background-color: #006400;
}

.food-progress-bar .bar.produced {
  border-radius: 0 5px 5px 0;
  background-color: #90EE90
}

.food-progress-bar .checkmark {
  position: absolute;
  right: 5px;
  font-size: 24px
}

.building-choices-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  /* transform: translate(-50%, -50%); */
  max-height: 27%; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.building-queue-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  /* transform: translate(-50%, -50%); */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.existing-buildings-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  /* transform: translate(-50%, -50%); */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.unit-choices-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */

  /* transform: translate(-50%, -50%); */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.unit-queue-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */

  /* transform: translate(-50%, -50%); */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.focus-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* gap: 5px; */

  /* transform: translate(-50%, -50%); */
  z-index: 1000; /* Ensure it's above other elements */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column; 
}

.existing-units-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  position: fixed;
  top: 60%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  z-index: 1000; /* Ensure it's above other elements */
  overflow-y: auto; /* Enable vertical scrolling */
  flex-direction: column;
}

.focus-title-card {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #bbbbbb;
  max-width: 20vw; /* Adjust as needed */
  display: flex; /* Display content in a line */
  justify-content: space-between; /* Distribute space evenly between the elements */
  align-items: center; /* Align items vertically in the center */
  font-size: 1.2em; /* Smaller font size */
  font-weight: bold; /* Make the text bold */
}

.focus-selection-option {
  text-transform: capitalize;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #bbbbbb;
  cursor: pointer;
  max-width: 20vw; /* Adjust as needed */
  display: flex; /* Display content in a line */
  justify-content: space-between; /* Distribute space evenly between the elements */
  align-items: center; /* Align items vertically in the center */
  font-size: 1.2em; /* Smaller font size */  
}

.focus-selection-option.food {
  background-color: #ccffaa; /* Replace with the color you want for food */
}

.focus-selection-option.metal {
  background-color: #bbbbbb; /* Replace with the color you want for metal */
}

.focus-selection-option.wood {
  background-color: #e0b096; /* Replace with the color you want for wood */
}

.focus-selection-option.science {
  background-color: #b0e0e6; /* Replace with the color you want for science */
}

.focus-selection-option.selected {
  border: 3px solid black;
}