.tech-card {
    border: 3px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #b0e0e6;
    cursor: pointer;
    width: 300px;
    position: relative;
}

.tech-card h2 {
    margin-top: 0;
}

.tech-card .unlocked-units {
    margin-top: 10px;
}

.tech-card:hover {
    border: 3px solid black; /* Thick black border on hover */
}

.brief-tech-card {
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
    background-color: #b0e0e6;
    font-size: 1em; /* Smaller font size */
}