.tech-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 1000px;
}

.tech-level-box {
    margin: 3px;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    background-color: #fff;
}

.tech-level-box.disabled {
    background-color: #ddd;
}

.tech-level-box .progress-bar {
    width: 70%;
    border: 1px solid black;
}

.tech-level-box .progress-bar .bar.stored {
    background-color: #92d3dd;
}

.tech-level-box .progress-bar .bar.produced {
    background-color: #d9f2f7;
}

.tech-level-box-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.tech-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    height: 100%;
}

.tech-tree-card {
    padding: 2px 5px;
    border-radius: 20px;
    margin: 2px 0;
    background-color: #f4f4ff;
    border: 1px solid black;
    cursor: default;
    height: 70px;
    position: relative;
}

.tech-level-box.disabled .tech-tree-card.unavailable{
    background-color: #dde;
}

.tech-level-box.disabled .tech-tree-card-effects{
    opacity: 0.7;
}

.tech-tree-card:hover {
    border: 1px solid #999;
    transform: scale(1.5);
}

.tech-tree-card.researched {
    background-color: #aaf2bb;
}

.tech-tree-card.researching {
    background-color: #e0a677;
}

.tech-tree-card.discarded {
    background-color: #ccc;
}

.tech-tree-card.available {
    background-color: #ecec9c;
}
.tech-tree-card.available * {
    cursor: pointer;
}

.tech-tree-card-title {
    font-weight: bold;
}

.tech-tree-card-effects {
    display: flex;
    justify-content: space-between;
}

.tech-tree-card-units {
    min-width: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.tech-tree-card-buildings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 45px;
}

.upper-right-floaters {
    position: absolute;
    top: -15px;
    right: -5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
}

.upper-right-floaters * {
    width: 100%;
}