.unit-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #bbbbbb;
}

.unit-card h2 {
    margin-top: 0;
}

.unit-card p {
    margin: 5px 0;
}