.unit-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #bbbbbb;
    width: 80%;
    max-width: 240px;
    height: fit-content;
}

.unit-card h2 {
    margin-top: 0;
}

.unit-card p {
    margin: 5px 0;
}

.unit-card .subtitle-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.unit-card .cost-row .cost {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    max-width: 160px;
}

.unit-card .cost-row .cost .cost-itself {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 40px;
}

.unit-card .stats {
    display: flex;
    justify-content: space-between;
    height: 16px;
}

.unit-card .stats .stat {
    width: 30%;
}

.unit-card .stats .stat.range {
    text-align: right;
}

.unit-card .stats .icon-bg-text {
    /* The big shield */
    transform: translateY(-8px);
}

.unit-card .content {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 5px 0;
}

.unit-card .abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

.unit-card .strength-text {
    font-size: 1.5em;
    font-weight: bold;
}

.unit-title-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #bbbbbb;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
    font-weight: bold; /* Make the text bold */
}


.brief-unit-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #bbbbbb;
    cursor: pointer;
    max-width: 20vw; /* Adjust as needed */
    display: flex; /* Display content in a line */
    justify-content: space-between; /* Distribute space evenly between the elements */
    align-items: center; /* Align items vertically in the center */
    font-size: 1.2em; /* Smaller font size */
}

.brief-unit-card .unit-name {
    margin-right: 15px; /* Adjust as needed */
}

.brief-unit-card:hover {
    border: 2px solid black; /* Thicker black border on hover */
}

.unit-icon {
    border-radius: 100%;
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid black;
}

.all-units-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}