.upper-right-display {
    position: fixed;
    right: 10px; /* Adjust the right margin as needed */
    top: 10px; /* Adjust the top margin as needed */
    padding: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    flex-direction: column;
    /* Add other styles as needed */
}

.civ-detail-panel {
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.civ-detail-panel .panel-content {
    width: 250px;
}

.civ-detail-panel .icon {
    padding: 5px;
    font-size: 32px;
    position: relative;
    width: 80px;
    background-color: #fffa;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.civ-detail-panel .icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.civ-detail-panel .icon span.small-font {
    font-size: 24px;
}

.civ-detail-panel .icon img {
    width: 100%;
}

/*
==========================================
============= SCIENCE AREA ============
==========================================
*/

.science-area .progress-bar .bar.stored {
    background-color: #5ca7b1;
  }
  
.science-area .progress-bar .bar.produced {
    background-color: #92d3dd;
}

.science-area button {
    margin: 5px;
}

h2.tech-name {
    margin: 5px;
}

.civ-detail-panel.science-area .icon span {
    /* offset it because the image is asymmetric */
    padding-top: 40px;
}

/*
==========================================
============= CITY POWER AREA ============
==========================================
*/

.civ-detail-panel.food-area .icon span {
    /* offset it because the image is asymmetric */
    padding-top: 15px;
}

.city-power-top-row {
    display: flex;
    justify-content: space-between;
}

.city-power-new-cities {
    display: flex;
    gap: 5px;
    padding: 5px;
    height: 40px;
    position: relative;
    width: 180px;
    overflow-x: hidden;
}

.city-power-territories {
    margin: 3px;
    border: 3px solid black;
    padding: 0 3px 0 3px;
    height: 25px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-city-icon {
    height: 20px;
    width: 40px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-city-icon.at-max {
    border-radius: 30px;
}

.new-city-button {
    cursor: pointer;
}

.new-city-button.enabled:hover {
    transform: scale(1.2); /* Slightly increase size to indicate selection */
    animation: none;
    z-index: 10; /* Above the buttons next to it */
}

.new-city-button.active:hover::after {
    content: "Cancel";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: #fffb;
    border: 2px solid black;
    border-radius: 3px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

@keyframes pulseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.new-city-button.enabled {
    animation: pulseAnimation 1s infinite;
}

.new-city-button.active {
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*
==========================================
=============== VITALITY AREA ============
==========================================
*/

.civ-detail-panel.vitality-area .icon span {
    /* offset it because the image is asymmetric */
    padding-bottom: 30px;
}

.vitality-area .panel-content{
    border-color: #d32c2c;
    background-color: #ecb0b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}

.revolt-cities {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.decline-option-row {
    display: flex;
    flex-direction: column;
    border: 5px solid transparent;
    border-radius: 5px;
    gap: 5px;
}

.decline-option-row.future-revolting {
    opacity: 0.5;
}

.revolt-cities-row {
    display: flex;
    padding: 2px 5px;
    align-items: center;
    gap: 5px;
}

.revolt-cities-row .unit-count{
    border: 2px solid black;
    border-radius: 50%;
    padding: 0;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.decline-option-row.clickable {
    cursor: pointer;
}

.decline-option-row.clickable:hover {
    transform: scale(1.1);
}

.my-city-revolting {
    border: 4px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.revolt-cities-detail-container {
    display: none;
}

.decline-option-row:hover .revolt-cities-detail-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.decline-option-row:hover .revolt-cities-detail {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap: 3px;
}

.revolt-cities-detail img {
    height: 20px;
    width: auto;
    margin-left: 2px;
    margin-right: 5px;
}

.unhappiness-threshold {
    position: absolute;
    left: -55px;
    bottom: -10px;
    background: #ecb0b0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 20px;
    opacity: 0.75;
}

.unhappiness-threshold::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    /* the 15s here are the main element's height - padding. The 20 is the length of the pointer. */
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #ecb0b0; /* Match the element's background color */
}

.previous-threshold {
    opacity: 1.0;
}

.unhappiness-threshold-content {
    display: flex;
    align-items: center;
    gap: 3px;
}

.distance-from-win {
    font-size: 20px;
    font-weight: bold;
    background-color: #d32c2c;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    height: 20px;
    width: 24px;
    border: 2px solid black;
    border-radius: 5px;
}

.slot.military {
    background-color: #bbbbbb;
}
.slot.rural {
    background-color: #eecab7;
}
.slot.urban {
    background-color: #e08b5e;
}

/*
==========================================
============== IDEOLOGY AREA =============
==========================================
*/

.ideology-area .panel-content{
    border-color: #d3cb2c;
    background-color: #f5f2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;   
}

.ideology-area .level-markers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.ideology-area .level {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 5px;
    width: 100%;
    border-top: 2px solid #00000033;
    padding-top: 5px;
}

.ideology-area .level .tenet-marker.inactive {
    opacity: 0.3;
}

.ideology-area .ideology-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ideology-area .ideology-columns .ideology-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 45%;
}

/*
==========================================
=============== SCORE AREA ===============
==========================================
*/

.civ-detail-panel.score-area .icon span {
    /* offset it because the image is asymmetric */
    padding-top: 15px;
}

.score-area .panel-content {
    font-size: 1em; /* Smaller font size */
    border-color: #b8209e;
    background-color: #eeaee4;
}


/*
==========================================
=============== WONDERS AREA =============
==========================================
*/

.wonders-area .panel-content {
    background-color: #e098d4;
    border-color: #b8209e;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #b8209e #e098d4;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    padding: 0;
}

/* For Webkit browsers. Dunno what this is, GPT put it here */
.wonders-area .panel-content::-webkit-scrollbar {
    width: 8px;
}

.wonders-area .panel-content::-webkit-scrollbar-track {
    background: #e098d4;
}

.wonders-area .panel-content::-webkit-scrollbar-thumb {
    background-color: #b8209e;
    border-radius: 10px;
}

.wonder-list-display {
    display: flex;
}

.wonder-age-display {
    width: 100px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.wonder-age-display.locked {
    background-color: #ac86a5;
}
.wonder-age-display.unlocked {
    background-color: #e098d4;
}
.wonder-age-display.locked .wonder-display {
    background-color: #d6a7ce;
}

.wonder-age-display .wonder-age {
    text-align: center;
    font-weight: bold;
}

.wonder-age-display .wonder-vp-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wonder-age-display .wonder-vp {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    width: fit-content;
}

.wonder-age-display .wonder-vp-unavailable {
    opacity: 0.3;
}

.wonder-age-display .wonder-vps-next {
    position: absolute;
    left: -3px;
    top: -10%;
    height: 120%;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 4px;
    z-index: -1;
}

.wonder-display {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #eed1e9;
    overflow-x: hidden;
    white-space: nowrap;
}

.wonder-display.built {
    opacity: 0.3;
}
