.upper-right-display {
    position: fixed;
    right: 10px; /* Adjust the right margin as needed */
    top: 10px; /* Adjust the top margin as needed */
    padding: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    flex-direction: column;
    /* Add other styles as needed */
}

.brief-tech-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #b0e0e6;
    font-size: 1em; /* Smaller font size */
}

.city-power-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ccffaa;
    font-size: 1em; /* Smaller font size */
}

.civ-vitality-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 1em; /* Smaller font size */
}

.score-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddaadd;
    font-size: 1em; /* Smaller font size */
}