.upper-right-display {
    position: fixed;
    right: 10px; /* Adjust the right margin as needed */
    top: 10px; /* Adjust the top margin as needed */
    padding: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    flex-direction: column;
    /* Add other styles as needed */
}

.brief-tech-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #b0e0e6;
    font-size: 1em; /* Smaller font size */
}

.city-power-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ccffaa;
    font-size: 1em; /* Smaller font size */
}

.civ-vitality-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 1em; /* Smaller font size */
}

.score-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ddaadd;
    font-size: 1em; /* Smaller font size */
}

.announcements-display {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #cccccc;
    font-size: 1em; /* Smaller font size */
}

.science-area .progress-bar .bar.stored {
    background-color: #5ca7b1;
  }
  
.science-area .progress-bar .bar.produced {
    background-color: #92d3dd;
}

.science-area button {
    margin: 5px;
}

h2.tech-name {
    margin: 5px;
}

.city-power-new-cities {
    display: flex;
    gap: 5px;
    padding: 5px;
    height: 40px;
}

.new-city-icon {
    height: 30px;
    width: 30px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.civ-detail-panel {
    display: flex;
    align-items: flex-start;
    padding: 5px;
}

.civ-detail-panel .panel-content {
    width: 250px;
}

.civ-detail-panel .icon {
    padding: 5px;
    font-size: 32px;
    position: relative;
    width: 80px;
}

.civ-detail-panel .icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.civ-detail-panel .icon img {
    width: 100%;
}


.civ-detail-panel.science-area .icon span {
    /* offset it because the image is asymmetric */
    padding-top: 40px;
}